<header class="header">
  <div class="container">
    <a class="nav-logo" href="/" aria-label="Site logo">
      <svg class="nav-logo-icon" width="132" height="14">
        <use href="{=$icon-path}"></use>
      </svg>
    </a>

    <nav class="nav">
      <ul class="nav-list">
        <li class="nav-item active">
          <a class="nav-link {=$highlight-act}" href="index.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {=$highlight-curr}" href="favorites.html"
            >Favourites</a
          >
        </li>
      </ul>
    </nav>

    <div class="socials-wrapper">
      <load src="partials/socials.html" />
    </div>

    <button class="nav-toggle" aria-label="Toggle navigation menu">
      <svg class="menu-icon" width="32" height="32">
        <use href="icon-pack/burger-icon.svg"></use>
      </svg>
    </button>
  </div>

  <div class="mobile-menu-container">
    <div class="nav-button-wrapper">
      <button class="nav-close">
        <svg class="close-icon" width="32" height="32">
          <use href="icon-pack/x.svg"></use>
        </svg>
      </button>
    </div>

    <ul class="mobile-nav-list">
      <li class="mobile-nav-item active">
        <a class="mobile-nav-link {=$highlight-act}" href="index.html">Home</a>
      </li>
      <li class="mobile-nav-item">
        <a class="mobile-nav-link {=$highlight-curr}" href="favorites.html"
          >Favourites</a
        >
      </li>
    </ul>

    <load src="partials/socials.html" />
  </div>
</header>
