<header class="header">
  <div class="container">
    <nav class="nav">
      <a class="nav-logo" href="./index.html" aria-label="Site logo">
        <svg class="nav-logo-icon" width="132" height="14">
          <use href="{=$icon-path}"></use>
        </svg>
      </a>
      <ul class="nav-list">
        <li class="nav-item">
          <a class="nav-link {=$highlight-act}" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {=$highlight-curr}" href="./page-2.html">Favourites</a>
        </li>
      </ul>
      <button class="nav-toggle" aria-label="Toggle navigation menu">
        <span class="nav-toggle-bar"></span>
        <span class="nav-toggle-bar"></span>
        <span class="nav-toggle-bar"></span>
        <span class="nav-toggle-bar"></span>
      </button>
    </nav>
  </div>
</header>
