<article class="icons">
    <div class="container">
        <ul class="icons-list">
            <li class="icons-item">
                <svg class="icons-icon" width="48" height="48">
                    <use href="img/heart-icon.svg"></use>
                </svg>
            </li>
            <li class="icons-item">
                <svg class="icons-icon" width="48" height="48">
                    <use href="img/heart-icon.svg"></use>
                </svg>
            </li>
            <li class="icons-item">
                <svg class="icons-icon" width="48" height="48">
                    <use href="img/heart-icon.svg"></use>
                </svg>
            </li>
        </ul>
</article>