<article class="socials">
  <div class="container">
    <ul class="socials-list">
      <li class="socials-item">
        <a class="socials-link" href="https://www.facebook.com/goITclub/">
          <svg class="socials-icon" width="28" height="28">
            <use href="../img/socials-icons/facebook.svg"></use>
          </svg>
        </a>
      </li>
      <li class="socials-item">
        <a class="socials-link" href="https://www.instagram.com/goitclub/">
          <svg class="socials-icon" width="28" height="28">
            <use href="../img/socials-icons/instagram.svg"></use>
          </svg>
        </a>
      </li>
      <li class="socials-item">
        <a class="socials-link" href="https://www.youtube.com/c/GoIT">
          <svg class="socials-icon" width="28" height="28">
            <use href="../img/socials-icons/youtube.svg"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</article>
