<article class="socials">
    <div class="container">
        <ul class="socials-list">
            <li class="socials-item">
                <svg class="socials-icon" width="28" height="28">
                    <use href="../img/socials-icons/facebook.svg"></use>
                </svg>
            </li>
            <li class="socials-item">
                <svg class="socials-icon" width="28" height="28">
                    <use href="../img/socials-icons/instagram.svg"></use>
                </svg>
            </li>
            <li class="socials-item">
                <svg class="socials-icon" width="28" height="28">
                    <use href="../img/socials-icons/youtube.svg"></use>
                </svg>
            </li>
        </ul>
</article>