:root {
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  color: #242424;
  background-color: #f4f4f4;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  min-height: 100vh;
}

svg {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background: #242424;
  color: white;
  padding: 8px;
  z-index: 100;
  transition: top 0.3s;
}

.skip-link:focus {
  top: 0;
}
