.exercise {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 335px;
  width: 100%;
  height: 141px;
  padding: 16px;
  background-color: #ffffff;
  border-radius: 15px;
}

.exercise-line-wrapper {
  display: flex;
  width: 100%;
  justify-content: start;
  align-items: center;
  gap: 16px;
}

.exercise-line-wrapper:first-child {
  margin-bottom: 3px;
}

.exercise-line-wrapper:last-child {
  gap: 10px;
}

.workout {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0px;
  padding: 5px 8px;
  color: #242424;
  border: 1px solid #242424;
  border-radius: 15px;
}

.rating {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
}

.star-icon {
  position: relative;
  top: 2px;
}

.rating-value {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0px;
}

.remove-favorite-quick-btn {
  background: none;
  border: none;
  margin-left: -13px;
}

.start-button {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0px;

  background: none;
  border: none;

  display: flex;
  align-items: center;
  gap: 8px;

  margin-left: auto;
  padding: 6px;
}

.exercise-icon-wrapper {
  background-color: #242424;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.exercise-icon {
  filter: invert(100%) sepia(55%) saturate(1872%) hue-rotate(184deg)
    brightness(121%) contrast(91%);
  transform: scale(0.8);
  position: relative;
  top: 2px;
  left: 1px;
}

.exercise-name {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0px;
  color: #242424;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.exercise-info {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0px;
  color: #24242440;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.exercise-info-value {
  color: #242424;
}

@media screen and (min-width: 768px) {
  .exercise {
    max-width: 344px;
    gap: 10px;
  }

  .exercise-line-wrapper:first-child {
    margin-bottom: 5px;
  }

  .start-button {
    font-size: 16px;
    line-height: 24px;
  }

  .exercise-name {
    font-size: 24px;
    line-height: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .exercise {
    max-width: 442px;
  }
}
