.footer {
  height: 590px;

  background-color: #242424;
  color: #fff;
}

footer > .container {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  padding-top: 30px;
  height: 100%;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
}

.footer-links {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 15px;
}

.footer-logo-icon {
  filter: invert(100%) sepia(55%) saturate(1872%) hue-rotate(184deg)
    brightness(121%) contrast(91%);
}

.footer-title {
  font-weight: 400;
  font-size: 38px;
  line-height: 44px;
  letter-spacing: -2%;
}

.footer-main-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: auto;
  max-width: 434px;
}

.footer-subscription-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-call-to-action {
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 18px;
  letter-spacing: 0px;
}

.subscription-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.subscription-input {
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0%;

  width: 100%;
  height: 42px;
  padding: 0 15px;

  background: none;
  border-radius: 30px;
  border: 1px solid #f4f4f4;
  color: #f4f4f4;

  &::placeholder {
    color: #f4f4f460;
  }

  &:focus {
    outline: none;
  }
}

.subscription-button {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0px;

  width: 100%;
  height: 42px;
  padding: 0 15px;

  background: #f4f4f4;
  border-radius: 30px;
  border: 1px solid #f4f4f4;

  transition: background-color 0.17s ease-in-out;
  transition: color 0.17s ease-in-out;

  &:hover {
    background-color: #242424;
    color: #f4f4f4;
  }
}

.footer-copyright-container {
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -2%;
  color: #c6cdd1;

  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: auto;

  .copyright-wrapper {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .footer {
    height: 534px;
  }

  .footer > .container {
    padding: 20px 32px;
  }

  .footer-wrapper {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
  }

  .footer-links {
    margin-top: 0;
  }

  .footer-main-content {
    max-width: 420px;
    margin: 0;
  }

  .footer-title {
    font-size: 56px;
    line-height: 60px;
  }

  .form-call-to-action {
    font-size: 18px;
    line-height: 24px;
  }

  .subscription-form {
    max-width: 352px;
  }

  .footer-copyright-container {
    flex-direction: row;
    justify-content: space-between;
  }

  .copyright-wrapper {
    gap: 178px;
  }
}

@media screen and (min-width: 1440px) {
  .footer {
    height: 328px;
  }

  .footer-main-content {
    flex-direction: row;
    width: auto;
    max-width: fit-content;
    gap: 115px;
  }

  .footer-title {
    max-width: 595px;
  }

  .footer-subscription-form {
    max-width: 352px;
  }

  .copyright-wrapper {
    gap: 498px;
    margin-right: 300px;
  }
}
