header {
  padding: 20px;

  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.nav-logo {
  display: flex;
  align-items: center;
}

nav {
  display: block;
}

.nav-list {
  background-color: #242424;
  display: flex;
  gap: 5px;

  padding: 10px 34px;
  border-radius: 60px;

  list-style: none;
}

.nav-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;

  padding: 6px 10px;
  border-radius: 22px;

  &.active {
    background-color: #ffffff;

    .nav-link {
      color: #242424;
    }
  }

  .nav-link {
    text-decoration: none;
    color: #ffffff;

    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;

  }
}

.nav-toggle {
  display: flex;
  align-items: center;

  background: none;
  border: none;
  padding: 0;
}



.nav.opened {
  position:absolute;
  top: 0;
  left: 0;
  width: 210px;
  height: 100vh;
  background-color: #242424;
  z-index: 2;
}

.nav-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
}

.nav-button-wrapper {
  display: flex;
  width: 100%;
  justify-content: end;
}

.nav-close {
  background: none;
  border: none;
}
