header {
  width: 100vw;
  position: fixed;
  background-color: #f4f4f4;
  z-index: 5;

  > .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
}

.nav-logo {
  display: flex;
  align-items: center;
}

.nav {
  display: none;
}

.socials-wrapper {
  display: none;
}

.nav-list {
  background-color: #242424;
  display: flex;
  gap: 5px;

  padding: 10px 34px;
  margin-right: auto;
  border-radius: 60px;

  list-style: none;
}

.nav-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;

  padding: 6px 10px;
  border-radius: 22px;

  &.active {
    background-color: #ffffff;

    .nav-link {
      color: #242424;
    }
  }

  .nav-link {
    text-decoration: none;
    color: #ffffff;

    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
  }
}

.nav-toggle {
  display: flex;
  align-items: center;

  background: none;
  border: none;
  padding: 0;
}

.mobile-menu-container {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 210px;
  height: 100vh;
  padding: 20px;
  background-color: #242424;
}

.mobile-menu-container.opened {
  display: flex;
}

.nav-button-wrapper {
  display: flex;
  width: 100%;
  justify-content: end;
}

.nav-close {
  background: none;
  border: none;
}

.mobile-nav-list {
  font-size: 14px;
  line-height: 18px;
  color: #f4f4f4;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.mobile-nav-link {
  padding: 10px;
}

@media screen and (min-width: 768px) {
  .nav {
    display: block;
  }

  .socials-wrapper {
    display: block;
  }

  .nav-toggle {
    display: none;
  }
}

@media screen and (min-width: 1440px) {
}
