header {
  padding: 20px;

  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .nav-logo {
    display: flex;
    align-items: center;
  }

  nav {
    display: none;
  }

  .nav-list {
    background-color: #000000;
    display: flex;
    gap: 20px;

    padding: 10px 30px;
    border-radius: 30px;

    list-style: none;
  }

  .nav-item {
    padding: 0px 10px;
    border-radius: 22px;

    &.active {
      background-color: #ffffff;

      .nav-link {
        color: #000000;
      }
    }

    .nav-link {
      text-decoration: none;
      color: #ffffff;

      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0px;

    }
  }

  .nav-toggle {
    display: flex;
    align-items: center;

    background: none;
    border: none;
    padding: 0;

    .menu-icon {

    }
  }
}

