.hero {
    padding: 0 20px;
}

.hero-icon {
    transform: scale(0.66);
    float: left;
}

.hero-title {
    font-weight: 400;
    font-style: Regular;
    font-size: 38px;
    line-height: 44px;
    letter-spacing: -2%;
}

.hero-subheading {
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -2%;

}


.hero-image {
    object-fit: cover;
    height: 460px;
    object-position: 45%;
    border-radius: 30px;
}

.tags-image {
    border-radius: 20px;
    display: none;
}

.hero-tags-list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.hero-tags-item {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0px;


    border: 1px solid #242424;
    border-radius: 30px;
    padding: 4px 11px;
}


main {
    padding: 0 20px;

    .container {
        max-width: 375px;
    }
}
