.hero {
    padding: 0 20px;
}

.hero-icon {
    transform: scale(0.66);
    float: left;
}

.hero-title {
    font-weight: 400;
    font-style: Regular;
    font-size: 38px;
    line-height: 44px;
    letter-spacing: -2%;
}

.hero-subheading {
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -2%;

}


.hero-image {
    object-fit: cover;
    height: 460px;
    object-position: 45%;
    border-radius: 30px;
}

.tags-image {
    border-radius: 20px;
    display: none;
}

.hero-tags-list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.hero-tags-item {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0px;


    border: 1px solid #242424;
    border-radius: 30px;
    padding: 4px 11px;
}


main {
    padding: 0 20px;
    display: flex;
    justify-content: center;

    .container {
        max-width: 375px;
    }
}

.main-heading {
    font-weight: 400;
    font-style: Regular;
    font-size: 28px;
    line-height: 38px;
    letter-spacing: -2%;
}

.exercises-search {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
    border: 1px solid #242424;

    padding: 12px 14px;
    border-radius: 30px;
}

.exercises-search-input {
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;

    background: none;
    border: none;
    margin-right: auto;

    &::placeholder {
        color: #242424;
        opacity: 1;
    }
}

.search-delete-icon {
    margin: 0 4px;
}


.filter-tabs-list {
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;

    display: flex;
    gap: 20px;
}

.filter-tabs-item {
    padding: 4px 0;
    &:first-child {
        border-bottom: 4px solid #242424;
    }    
}
    

.motivation .container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.motivation-quote-icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #f4f4f420;
}

.motivation-quote-icon {
    filter: invert(100%) sepia(55%) saturate(1872%) hue-rotate(184deg) brightness(121%) contrast(91%);
}

.motivation-quote {
    display: flex;
    gap: 15px;
    background-color: #242424;
    border-radius: 20px;
    padding: 20px;

    color:#f4f4f4;
}

.motivation-quote-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.motivation-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0px;
}

.quotes-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 20px;
    height: 20px;
}

.quotes {
    transform: scale(0.9);
}

.motivation-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0px;

    margin: 0;
    color:#f4f4f460;
}

.motivation-author {
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
    line-height: 18px;
    letter-spacing: 0px;
}



.motivation-image {
    border-radius: 30px;
}


.motivation-fact {
    display: flex;
    gap: 15px;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 20px;
}

.motivation-fact-icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #242424;
}

.motivation-fact-icon {
    filter: invert(100%) sepia(55%) saturate(1872%) hue-rotate(184deg) brightness(121%) contrast(91%);
}

.recomended-duration {
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0px;
}

.motivation-fact-title {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0px;
}

.motivation-fact-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0px;
}
