.modal-backdrop {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100vh;
  background-color: #24242450;
  overflow-y: scroll;
  z-index: 50;
}

.modal-backdrop.is-hidden {
  display: none;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin: auto;
  padding: 40px 20px;
  width: 100%;
  min-height: 50px;
  max-width: 335px;
  background-color: #242424;
  border-radius: 20px;
  z-index: 55;
}

.modal-close-btn {
  background: none;
  border: none;
  width: 24px;
  height: 24px;
  margin-top: -24px;
}

.modal-close-icon {
  transform: scale(0.7);
  position: relative;
  top: -4px;
  left: -9px;
}

.modal-body {
  width: 100%;
}

/* Exercise modal */

.exercise-details-wrapper {
  display: flex;
  flex-direction: column;
}

.exercise-gif {
  width: 100%;
  max-width: 295px;
  height: 258px;
  object-fit: cover;
  border-radius: 12px;
}

.exercise-details-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}

.exercise-header {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.exercise-details-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0px;
  color: #f4f4f4;
}

.exercise-details-rating {
  display: flex;
  align-items: center;
  gap: 4px;
}

.exercise-details-rating-value {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0px;
  color: #f4f4f4;
}

.rating-start-container {
  display: flex;
}

.rating-star-icon {
  position: relative;
  top: 5px;
  margin: 0 -2px;
}

.quick-info-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 10px 0;

  border-top: 1px solid #f4f4f433;
  border-bottom: 1px solid #f4f4f433;
}

.quick-info-item {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.quick-info-parameter {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0px;
  color: #f4f4f440;
}

.quick-info-value {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0px;
  color: #f4f4f4;
}

.exercise-detailed-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0px;
  color: #f4f4f460;
}

.exercise-action-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;

  & > button {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0px;

    width: 100%;
    height: 42px;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;

    border-radius: 30px;
    border: 1px solid #f4f4f4;

    transition: background-color 0.17s ease-in-out;
    transition: color 0.17s ease-in-out;
  }
}

.add-to-favorites-btn {
  background-color: #f4f4f4;

  &:hover {
    background-color: #242424;
    color: #f4f4f4;

    .like-icon {
      filter: invert(100%) sepia(55%) saturate(1872%) hue-rotate(184deg)
        brightness(121%) contrast(91%);
    }
  }
}

.give-rating-btn {
  background-color: #242424;
  color: #f4f4f4;

  &:hover {
    background-color: #f4f4f4;
    color: #242424;
  }
}

.like-icon {
  transform: scale(0.8);
  position: relative;
  top: 1px;
}

/* Rating form */
#rating-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.rating-section {
  display: flex;
  flex-direction: column;
}

.rating-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0px;
  color: #f4f4f440;
}

.rating-line-wrapper {
  display: flex;
  align-items: center;
}

#stars-fieldset {
  border: none;
  margin-top: 10px;
}

.rating-form-value {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0px;
  color: #f4f4f4;
}

.rating-text-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#rating-email-input {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0px;

  width: 100%;
  height: 42px;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: center;

  background: none;
  border: 1px solid #f4f4f4;
  border-radius: 30px;

  color: #f4f4f4;
}

#rating-review-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0px;

  width: 100%;
  height: 93px;
  padding: 0 15px;

  background: none;
  border: 1px solid #f4f4f4;
  border-radius: 15px;

  color: #f4f4f4;
}

#submit-rating-button {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0px;

  width: 100%;
  height: 42px;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #f4f4f4;
  border: 1px solid #f4f4f4;
  border-radius: 30px;

  color: #242424;

  transition: background-color 0.17s ease-in-out;
  transition: color 0.17s ease-in-out;

  &:hover {
    background-color: #242424;
    color: #f4f4f4;
  }
}
