.star {
  display: inline-block;
  font-size: 1.2rem;
  /* Use a star character or a font-icon */
  color: #f4f4f420; /* Default empty color */
  position: relative;
}

.star.filled {
  /* This creates the 'loading bar' effect inside the text */
  background: linear-gradient(
    90deg,
    #eea10c var(--percent),
    #f4f4f420 var(--percent)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.star-cb-group {
  /* remove inline-block whitespace */
  font-size: 0;
  * {
    font-size: 1.4rem;
  }
  /* flip the order so we can use the + and ~ combinators */
  unicode-bidi: bidi-override;
  direction: rtl;
  & > input {
    display: none;
    & + label {
      /* only enough room for the star */
      display: inline-block;
      overflow: hidden;
      text-indent: 9999px;
      width: 1em;
      white-space: nowrap;
      cursor: pointer;
      &:before {
        display: inline-block;
        text-indent: -9999px;
        content: '★';
        color: #f4f4f420;
      }
    }
    &:checked ~ label:before,
    & + label:hover ~ label:before,
    & + label:hover:before {
      content: '★';
      color: #eea10c;
      text-shadow: 0 0 1px #333;
    }
  }

  /* the hidden clearer */
  & > .star-cb-clear + label {
    text-indent: -9999px;
    width: 0.5em;
    margin-left: -0.5em;
  }
  & > .star-cb-clear + label:before {
    width: 0.5em;
  }

  &:hover > input + label:before {
    content: '★';
    color: #f4f4f420;
    text-shadow: none;
  }
  &:hover > input + label:hover ~ label:before,
  &:hover > input + label:hover:before {
    content: '★';
    color: #eea10c;
    text-shadow: 0 0 1px #333;
  }
}
