.socials-list {
    display: flex;
}

.socials-item {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border: 1px solid #f4f4f410;
    border-radius: 10px;
}

.socials-icon {
    filter: invert(100%) sepia(55%) saturate(1872%) hue-rotate(184deg) brightness(121%) contrast(91%);
}