@import url('../../node_modules/modern-normalize/modern-normalize.css');

@import url('./reset.css');
@import url('./base.css');
@import url('../../node_modules/izitoast/dist/css/iziToast.min.css');

@import url('./header.css');
@import url('./footer.css');
@import url('./socials.css');
@import url('./pagination.css');
@import url('./exercises.css');
@import url('./index.css');
@import url('./favorites.css');

/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
/* 

@import url('./container.css');
@import url('./animations.css'); */

/* Sections style */
/* 
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
 */
